
APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

FACEBOOK_ID=803415026476975
FACEBOOK_SECRET=cb63e0ce6025db04d7cd8f76b4ee55f6
FACEBOOK_URL=http://localhost/migohood/public/social/callback/facebook

MIGOHOOD_API_URL=http://localhost/casaCreativa/migohood.api/public

GOOGLE_ID=900552274918-08dtuj7ohevc90mkh0l770kob7gho1te.apps.googleusercontent.com
GOOGLE_SECRET=mirGFSbEoUn1-egp-wrcGqrj
GOOGLE_URL=http://localhost/migohood/public/social/callback/google

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
